body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #7fffd4;
    margin: 0%;
    padding: 0%;
  }
header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin: 0px;
    color:#070b0a;
}
  #converter {
    width:330px;
    padding:2rem 1rem;
    margin:125px auto;
    background-color: #ffffffe6;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #6ed4b2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  button:hover{
      background-color: #5ab597;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
  }